.forum-details-container {
    text-align: center;
}

.forum-details-container h4 {
    cursor: pointer;
}

.forum-details-container h1 {
    margin-top: 50px;
}

.post-container {
    width: 50%;
    font-weight: bold;
}

.answer {
    cursor: pointer;
}

.hidden {
    display: none;
}
