.forums-list-container {
    text-align: center;
}

.forums-list-container a {
    color: var(--white);
    transition: 0.2s;
}

.forums-list-container a:hover {
    color: var(--yellow-sub-color);
}

.new-forum-form {
    margin-top: 20px;
}

.forums-list-container h3 {
    margin-top: 100px;
}
